extends /layout

block content
  //- Display error if trying to access a page that doesn't exist.
  if page > total_pages
    .alert.alert-danger The page you are trying to view does not exist.

  h1 Users

  ul
    - each user in users
      li: a(href='/users/#{user.profileid}')= user.displayName

  if total_pages > 1
    ul.pagination
      //- Can only go back a page if this isn't the first page!
      if page > 1
        li: a(href='?page=#{(page - 1)}') &laquo;

        // Show extra page if can't go forward!
        if page > 2 && page >= total_pages
          li: a(href='?page=#{(page - 2)}')= (page - 2)

        li: a(href='?page=#{(page - 1)}')= (page - 1)
      else
        li.disabled: span &laquo;

      //- Currently active page.
      li.active
        a(href='?page=#{page}')= page
          span.sr-only  (current)

      //- Can only go forward a page if this isn't the last page!
      if page < total_pages
        li: a(href='?page=#{page + 1}')= (page + 1)

        // Show extra page if can't go backward!
        if page < total_pages - 1 && page <= 1
          li: a(href='?page=#{(page + 2)}')= (page + 2)

        li: a(href='?page=#{page + 1}') &raquo;
      else
        li.disabled: span &raquo;
